<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Where I've been and where I'm going.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005 - 2009</h4>
                                    <h4 class="subheading">Undergrad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied Mechanical Engineering at Florida State University</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2010</h4>
                                    <h4 class="subheading">Knolls Atomic Power Laboratory</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Provided mechanical engineering support to a prototype naval nuclear reactor.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/3.jfif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013</h4>
                                    <h4 class="subheading"> Naval Nuclear Laboratory (Still KAPL)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mechanical design and installation of training simulators.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Graduate School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began studying part-time for my Master of Engineering in Modeling & Simulation Engineering at Old Dominion University.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2016</h4>
                                    <h4 class="subheading">Naval Nuclear Laboratory</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Delivered cutting-edge innovations to training simulators with the introduction of immersive technology, including 2 high-visibility VR demonstrations to naval command and 1 operating trainer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/6.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018 - May 2019</h4>
                                    <h4 class="subheading">High Fidelity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined the experiences team as a VR Content Developer, creating content for large events, user retention and education.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/selfies/7.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Present</h4>
                                    <h4 class="subheading">Freelance VR Developer, Consultant, and Engineer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Let's work together to make AR/VR magic!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Today</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>