<style>
        
        * {
          box-sizing: border-box;
        }
        
        img {
          vertical-align: middle;
        }
        
        /* Position the image container (needed to position the left and right arrows) */
        .slidecontainer {
          width: 80%;
          margin: 0 auto;
          position: relative;
        }
        
        /* Hide the images by default */
        .mySlides {
          background: #000;  
          display: none;
        }
        
        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
          cursor: pointer;
        }
        
        /* Next & previous buttons */
        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 50%;
          height: 15%;
          width: 5%;
          padding: 16px;
          margin-top: -50px;
          color: white;
          font-weight: bold;
          font-size: 30px;
          border-radius: 0 3px 3px 0;
          background: #00000069;
          user-select: none;
          -webkit-user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
          left: 95%;
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
          background: #f2f2f2ab;
          color: rgba(255, 0, 140, 0.8);
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        
        /* Container for image text */
        .caption-container {
          text-align: center;
          background-color: #222;
          padding: 2px 16px;
          color: white;
        }
        
        .sliderow:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Six columns side by side */
        .slidecolumn {
          float: left;
          width: 10%;
          height: 10%;
        }
        
        /* Add a transparency effect for thumnbail images */
        .demo {
          opacity: 0.6;
        }
        
        .active,
        .demo:hover {
          opacity: 1;
        }
</style>

<section id="gallery" class="bg-light-gray">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Gallery</h2>
      <h3 class="section-subheading text-muted">A collection of videos and images from my various efforts.</h3>
      <div class="row sliderow">
        <div class="slidecontainer">
          <div class="mySlides">
            <div class="numbertext">1 / 9</div>
            <iframe src="https://www.youtube-nocookie.com/embed/2KmXllrBNHw?start=80" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>   
            
          <div class="mySlides">
            <div class="numbertext">2 / 9</div>
            <iframe src="https://drive.google.com/file/d/1i7Kowg6HS5xjFtjR-qK9zuOwTqGXx15w/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
        
          <div class="mySlides">
            <div class="numbertext">3 / 9</div>
            <iframe src="https://drive.google.com/file/d/1-4cSSNh68p3YZVB97URAidcfpE0l2Meh/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
            
          <div class="mySlides">
            <div class="numbertext">4 / 9</div>
            <iframe src="https://drive.google.com/file/d/1xaFhdeu4Sd__cA9vvn9EHtRETwxXpqSD/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
  
          <div class="mySlides">
            <div class="numbertext">5 / 9</div>
            <iframe src="https://drive.google.com/file/d/14QQSMSNCXnerVcXbPg9cMQZN4Cyw5hS7/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
        
          <div class="mySlides">
            <div class="numbertext">6 / 9</div>
            <iframe src="https://drive.google.com/file/d/1VLpVX2h9FrAKQwVVd02E1tp8MRURmpm_/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
            
          <div class="mySlides">
            <div class="numbertext">7 / 9</div>
            <iframe src="https://drive.google.com/file/d/1ivDRDrZ-T3X9veExEKZM0RVKpzjLBfdE/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
        
          <div class="mySlides">
            <div class="numbertext">8 / 9</div>
            <iframe src="https://drive.google.com/file/d/0B1LmsSL44FGCbkNEREpQR0I5elU/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>
            
          <div class="mySlides">
            <div class="numbertext">9 / 9</div>
            <iframe src="https://drive.google.com/file/d/1DabI6_tG6HiQ62jNBeNavE9ENIc5KKAN/preview" style="width: 100%; height: 480px;" allowfullscreen></iframe>
          </div>

          <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-stack-1x fa-chevron-left fa-inverse"></i></a>
          <a class="next" onclick="plusSlides(1)"><i class="fa fa-stack-1x fa-chevron-right fa-inverse"></i></a>
              <!--
          <div class="caption-container">
            <p id="caption"></p>
          </div>
          <div class="sliderow">
            <div class="slidecolumn">
              <img class="demo cursor" src="img/portfolio/mythbusters-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(1)" alt="MythBusters">
            </div>
            <div class="slidecolumn">
              <img class="demo cursor" src="img/portfolio/isu-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(2)" alt="MR Diesel Generator">
            </div>
            <div class="slidecolumn">
              <img class="demo cursor" src="img/portfolio/zpmech-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(3)" alt="Gravity Gun Oculus Quest">
            </div>
            <div class="slidecolumn">
              <img class="demo cursor" src="img/odu/depth-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(4)" alt="Depth of Field HMD Model">
            </div>
            <div class="slidecolumn">
              <img class="demo cursor" src="img/odu/chopper-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(5)" alt="Unity Helicopter Game">
            </div>    
            <div class="slidecolumn">
              <img class="demo cursor" src="img/odu/traffic-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(6)" alt="OpenGL Traffic Sim">
            </div>
            <div class="slidecolumn">
                <img class="demo cursor" src="img/portfolio/mythbusters-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(7)" alt="Buster Explosion">
            </div>
            <div class="slidecolumn">
                <img class="demo cursor" src="img/odu/shoot-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(8)" alt="OpenGL Shooting Gallery">
            </div>
            <div class="slidecolumn">
                <img class="demo cursor" src="img/odu/orbits-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(9)" alt="OpenGL Quaternion Orbits">
            </div>
            <div class="slidecolumn">
                <img class="demo cursor" src="img/portfolio/mrtd-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(10)" alt="MR Trainer PoC">
            </div>
            <div class="slidecolumn">
                <img class="demo cursor" src="img/odu/tank-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(11)" alt="Unity Tank Game">
            </div>                       
          -->
        </div>
      </div>
      <div class="row sliderow">
        <br><br>
        <div class="slidecontainer">
          <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
          <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
            data-link="https://photos.app.goo.gl/beTvjpCfNB5NBxhy6"
            data-title="Mark's Portfolio Album"
            data-description="50 new photos · Album by Mark Brosche">
            <object data="https://lh3.googleusercontent.com/aRR08zvsxLLSQGeK7GlMTpmXZSQR3etmN_-b-6qVZF5us_PxlTBIyAvReLNb9h84xDYcHT27Y3hbo2lJLPUvjxbFIUNGSROcQZtSWY3VtkFNRXaISgDDAVwiEVXGnJJ-D8mD5XckWtQ=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/a0M9yF_n6d5Ib5Iwn3xtUkENuVF8-JtzBwPjV8DacTB5B4YdWr1OB_lZGUCoEi69_4BhJOKIWseKlyH5gg-ENAuLxcL3alrv7yudmQBUU5vt8TgO9akVJxjvWXW2nkxDeGIZYEl8fQY=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/roLqDGpWw9ColCbPmWeDOYLn8jzD6aTd9-uxl4rl8PwQllXmRMYt5dRN0ErnO3jEakjT7bUyKXrcd_ubA-pEX6TtMTpcaqnZWIhFp-mzsseqirAgtioSTzRnAjprcJiEjIrL8xrY0t4=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/FjDmhrCvXygmKk5-TDgeW2hw5-vWpqkeWes6IpC9scdqbAsOUytGtWACFJIMCg0kxmq2oP1whutFrqGcrL0aVMumGQ63xVCEEFCa9K6ZkctZ5V259gDdI1Imi0bAVqX4IoMiiFbhnmQ=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/rsTLQgQPYdOxj4px5Wncdf4W_H7FxQk282B--zTjvFrDIXTp2WuXum3CHCr4VpTkuLqWZtgNyvnRr6n_YeU_RawZCQxNlORrP-bwxwjgQeLrlIipPgc3W0D1CR1MUqY7B5teqmgTSEU=m18" type="image/gif"></object>
            <object data="https://photos.app.goo.gl/1c3HTfrKu3GN57rz8" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/DIt1vZxMZszc1G74GjcqA1gmpFasJroiEW9PvW0pEkRQ5ZfYJYk7IeSJQl3ABDSAP4FHXxcSE2YeiL5Xu3A-fYCyspDPmVWeSNbkoMVWZdz0xqF9YnPJQHJrL_WZeWUTWBi3RgpMhp8=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/PcIunyTacZljRVAG29Taxbim_5RA62BVR4-WhmFGUwzzSsPbXpufQgTnlbE-xJZQqAwhuCsmOVJrQJlkr7VKYj9VXgUbwHvGl7_9H4sIyil3PbVyFDZ_W2iuEDz5bahQJF1pBIaXXsk=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/qlZNZCGXR5vrxuKBwJdKXYMwc5XM6hkZTUjECaEhPY1ev5mSdw1DTxS4jg-YmYbZTQioyn-ueKAikThx1hfsavzXz_My7N8gg5x3NRTXUBf4DaDq5bUqZeqpHqE4apgeF_Hn693Cl_E=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/8cLMH0P2A080tc99KcW6WeSAZD0cZbrSKGK5h43qSXlnnGhcMuyA2gBL5GF_9SoXxkFMlbrSHH87iCO3lOsVmTh9HfsQQE8IYHhCBhAQpsnABsmM-bBSZj1aFM4FeCIG8QB4LdAJ48c=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/BaXQ3w4iGAXsDkHIPUeth30qMAq6acuvWmOP0DInH25s4etGDp3XkilVFmoQnTrDeow7C43O4c0-06A4ZrrFBSlMfkSgSWn_ctn1TQsjavv_oO0NY1Hdr929Fo5XMLreCpAdal5F_J0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/I0XxpHC5IaqziQ1V5McnXnyYXP7Degau3sDkgj-t8ERlSJpd5zSDwzOLiREpnVdwB8PyUGf78Gjw_ys8stn7OM2seuNcpkFxP_EsQuPi4luf4exDlGwjS7AhtweNEQR5tDDZis8ZhMo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/93aiw17JcNtBb7pW0CWALoaA8YwroAz2zD1RXjisySGx2r7TdTXiQHUz17XoCnUctA6I45nG46XbySuUOJVaLHW2gf5ftcBrQqaR-JF6qelA0ZGVYZC5xXBxFJ6SxJyZ8GBFdBGcS58=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/vo_rOUbOU72TTXHUnEslU2V5rJUHNQmWAMDDn450LLFZB62YEOprCZMaRkBtEzbAixNxQbIV2dF1VJphgW_DsRisJwgTMa44pmuVgOwJYYNHpRtcd7IrhwKEc5xs3o7kEUZBf2pnT_M=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/CmyggJmEi5pYlU7wEjkS4_GTo0BVjpTb1TfaXILYEkbw2q7il0vyA1gEbWtnKAY_fLHShXMC7xP4rBvQ5k74-UPBkpsS5AmvU3r3rqIyOt05PGQTyxZT5XcyFKSqOJ9ILhUsIv7uD7g=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/-WjB67vFDedsEY5BmaZ4S28sRAgkH9OJu5Ol-2pDwrPPKEgz20rJPmIP8uWt7Dl6NqxLF4NDVQFckvbRovuPDTHNqTGJOUS4_-o-zQbdnMP2iU0B2dha-vQyMVK1gViN7shvVkqUDxc=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/xLvugud7Yz8olHGQfxE1ZuRofSWzcfSZZYMF79cF6zmT_J8d28Ll7Rk4i2If0ygaQB2NlZcAC_sVsvo66BfTUmtGtXFjSZsfPVx8ZWMf94gaO1-PLvuf5TU0NbiooUpf3KlFMjqpGQ0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/Ffc_QCARW8W1S-DUyr_X3eXH-NCoWNqr_lH9eznLbeNKOd-guzNg5_1s7aHgsqYjimdsTP4EfERkboZweeKCD6OBnhdi85wH_9cANE_bzbqHc1agV_BPoLOtPF3kZsM0XELbvZpsEkU=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/tfPAtgIS_EAwkkj-aU102puOZxIWU7duUNECGYbvvsD2iuQ4SbrLTb0nlVlg3czkI2BgxTVbArKXKLqBRwXJvdlhgaNuK7g9fnPNq5rZjGcVhIJq3nS14skSmfvRaEwbkwmqN5_NHUI=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/zyv6r0CIZZNZhZ4CagmxnpV7LxxIDk1YPjEsDvaS1-Hcky0ofT-5RRs2gfI-vV5bO-qc3AENzdKvMluEbfglWyVa7HK3e-UrWo-LO_VriLpCu2PHLSzkUWpKmJ2B9re0XdMcbsGBFSo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/AjOjQar331sT0hgTaFnzYfbaerokpNheoPj4vnhfIbI6j8OhGoaOi-H_0VntBGBf24SGAojhth8iHmTSzUxHvIZdJ9Azlms-bvg1F74Xj_AmSK83fs9Gtdcd1NdK_9pB_9uzefyJ4q4=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/ZmyfXOB70Y5MNNse0vOEAwtFIunj7b2AJrIUXo4iGnf7IWsTN2JquoJkwlR43CT1RrWNj_xrf9qPJf5uxgAX_lmcLFdaDuQFtREyVVFU1chs-f5kDDVcVbh0X4TNBd3yFt1k9C2d_mk=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/DeOMJSa69lKVAUWElw-Hk1v5p3hHNBWsc6shJZXoS-XUYl-pPk5WeTWXdCyQHjaNgZmIRLYzPWsM0ieuxhOKOgFdQzykGnyR6ldSGAtoLd2lUBZnXyLcu6A67Qh7a1_wtVH_uCL_jJ4=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/TA_SqhsbaAI9AslwgK5oxtVcrzBk9g9pf9C6SuwaS8shT8o5pVFBoJkrY_edhiXqKtXNr9nYCryvKzD8rj4cv3DPePlWHUgwq0NoMZ3m-JBCYANpdNIIaRmG-th_eZlEh27UOgxUqSw=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/_5eLyeqVDRzKLuBUNWdE1_vvH95oEkGSKXR-YjaG7jBeZLJ5Gy8wp64LJ9yt4Wu8G9ToDbbSfYN0675_6m15NFEliRT3GSRWP5tJTnGI6y0ZT2eijQRv0q6BAaTpAVlVUeWZ-Yx7aCo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/qXLySpox5LCQy-iNdLp5lVdMfMnntLMO9vmmKuSJGy-Of-r4RE-DbAAaKLaFbv5-YAP3qQu3Xmk3ExrZd6kWjGCPHJS3XFo290qnREVVsREuULEnwgmD3fDnFR1URcyEDkVQMWHFKTs=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/8FOnDOFCshEXisgu4_vBdgoTsSdfP4mswcXHFiiIfQ19oPjTNpwUCXNjlxGAdAePOC0BnZHlq9ZX9vV5EAIHhlUzT4Q2FYQKCE4qN6EKvwX91T_KnVFnLDUtFSsr49A-ZiO8XiK2mWw=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/8bxMJpA83WhHA1X5hZAux0z1-Q6IxxvVAJaastD_xkqXkjXdcld4F294KsG96NDGWvrlpYG8C9KkIwW7gg1KC1OyDYYGe2GsSf5E_qE4TXPVbyGWryAvMTjYooGTtcNwAizfFc7DdM4=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/c9cIvmrhqROD9-oa6W44DrNTRxAmQmW1eyoi7fp3X7WJijRc9KSS10li4DhuPj3KfcrQq7Iaoaipg650FPfv0AEkFMcqBoS2Qqzcx5Bz3VRXzutzRroYjV5YA_DAQKnIS-wc_Renbeo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/j76sIBYSvzsxTHASRCKCAJP9D8GknwxUkEeCR-yh-NXgdi21eKL7OcmekaQTDW2esJV9OVHMR6yAFTWHQ7AKM5TX30HTUP1jrULD6DjNMLSrRHJzobGk2C6gjtCU2wFrtSv5mqRl21o=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/3FJDZEZrKJp8QP7o1KXSKyFC3qkG2e_Y7bwsIxZU57rhP2tnZpVdE26H3IiKkjoY_E0qVXZI7YEnBu5XufEtc3U9GZYQBDW1FIzQSBC5drSf9OCNuv3gYcNGq7M6H8WgiwnwE0MWNVs=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/cPzJafF60hOGjbRzwLamEageCin-rVIkzbSU8NTRfURykN6k5HeDnjIYqDobzT4JMxq4cGXrkrYA0DxJ5MAdps830HOxsagW3EQ0nMxDJ_Qb-vgaUv6FfKsOJ1ivzvOmN1XE8PD8-Y8=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/Gg5mGtmnOQtTlAr0Dtro6UKja2oXCE9Uej6TyOJn8o2WHLcHly778ZCim1Gi9GBFtcKDST2lov6MsPxbqAqZQ-X1FbyW4OjOEVUxbLhQPgwWveTTjEG2_SE1OR61A50jNw1Gkb30wFI=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/DrFKa8PdSI0F5Wcik7_8gXcQbBF1FNvtVuh0TrlJojFKz_mVHFuauyyz1D627tRqYDtPNfZx4vEm4WxhB2VXBWfLypN9u1iZDuaktH6sDJV4l3U10LY79Ytt-L5e4ywa-CqufFr55U8=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/G3iBukAa74jMcJFPu_-uDqYaq10pv-GmaLuDmKALoKodSCfATiAwO9fpMXiKNyZva0IyXknBJKcTUTuE5uJFyGAgHm34j3DCGP5Sa8IAEso7TfBV4jxV5KH4OkGoQN2jBEnuM-BiV_0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/eemHAoL4WuA5eG3UOgWTZxR4gplJ4m6RldmtL5WjIwIEcPzhKzjlYRlBqnpt0chgZ8FJR5qIT-SZUmuwWbx4bgPvIb2_U-_njnP9YuCrda15pejKOOqyJYGD_3TFqZbDXrdxhWDQOq0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/pN-2x7Vp47ADQEKkXVZDgihCfuS_bwFVuCETC8jnBtvpiq8UbXpo5jSYqY8rppszn40Rk203qKLuwqSu5c_wPwxnIBoPiUrSFmseUHHg_RzZxeAn3KtUWe9NHnqhVTNnR5GoD13GpPs=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/6nSeDPpgWKxEJ4M6E3g0GbL1HD7sJAdso3vuGdSjFGkJ8C6FoYaW6Q-c1oe3ZUbo6alUrwDEpBoix0ZKcw80bQE8FbuaT__fC_FfSeagZoSa81nZ7dyL_sXqDfP155t3TciBA1Zi8uM=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/AW6N8nam8aOVmRC8SV_0bAvnu69OLuvmz5Vq88y680a4yCgmsU9CsiYTEl5zg4S83f31GXXU-IxK-dtxtYfv1yp9xBB7KDj8f6Bchf11x6ITHM3gIvoUtfl3glgsz4L0XZggHSzWtqA=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/gLN4yjTMy7bYoLy-YzW8FGKCIxlk6Km9tt56SO81N5fElqSqT9agez3o0j2WXVTrG7uHWMpN_v_CSx8j3A0Eej6nEtt1uhVWwpGQIbj5-353igmf3D4DcRZQMQ_jHIpuJTYgE7XftVk=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/LoFy7rYo8K6-3f6hgWHkjCnib5wzZJnjZoIK4gx_gIuUWbf5Z2SLij42p5f3ufsEK7SKwBJEHnqmHN9XDQmBh2weDECwpP7_Prt5B0Cjg90KPUPo7KDQwpdCmYHSSMAKVeIsFF0ReLU=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/BCXGjWT5KblmA-_FE7NsT_-u8sVMCZ1oPWQFZAuExXH1UkG7TYhEJhUQbzp5e8znSqcP53-mbfz_Q_x5If-8XYe2j3cQmVnUaqHnNSik541zHQj-zc8CtfHe-UchRMtJIbiAniXW2bg=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/vm2rsEoU_IoDA_bTpjx2YXc4kPUa3AKC8-_fsIVKDydWjBRsmpKW78b1XAyuiD1ZbqZB9FetFmXOX2TmhqtA56apNZjwl6DYrCTYXwloap01VuMbxSjHZUTUyy1PnWrjkcbyRA_0NBQ=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/gSEnAXeXCeqCgiIP5NcAzP7DvyOZt6QW9XCG4E1Xhsx74VmX16ewtFVko2VtzGSr5Fcp_vn3OIZt8nAT0fPFlLp4WeVir0dlI-vo7CNRt-u9tMExVlfVoc3KidzfXshj-TW4uhY2clo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/fs2SuWOZEaGNv5ah-IvMmtgUqRkM2ZdHh7MnSdGaH2SuESgnQhFQX9JmQTRQqg_jMEBpHAtyoOzZ8c1BX5_GAftGpThIia11CWF8KQt0tLue4_olsans1kLRhDuy2lVrbKcFnA-_RBs=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/iZ8JAFfZcaU8Hfi_fPIyOqXivVEk0zDWWQKrJivBSyGMMENY5fSGq7Y13_0lsGiymJ9jHslxCw5v3jpGFKsfeS1wWccOtJbbbyi6lrtEzQFxUht3acpOh5cVGm9f6WdqVQcWTC18Ydw=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/tsACVRC-ltYyh6kDUhx8G7Zep4o_LJtAtsk0Ip6AxAAxF3bqz0uwS36pSiwN5IOiLQz4RrgPhhFqm2WmRSXKszpxcdAB3ywtKXESwyuOV9Cmv7hlV9DRr3p4W-rUwhD5lWxFaspv4vY=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/Q29dE9D_pGE06kMB7K1UE7-hFq7WI-F96bSiExL_feRoWVY5oeWMV-odiqHUtzRKkFAACsFGZaVpj6nvJD0Ly2rjmrO8iqkqyjj5d475q5aOjfgqI3Ftkjk1r_o8MV1TRA1DhfAeaEw=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/0VVrjpqrUrsPs6Qq0VoGCatv_cg9bnk4eIu-nniHGZPVvABz5spFT3tJ_XqdqDyYHgIv2fOihzN_Bi9HrznD9paGpK2rXWW-bSuZ5zfbghHv8UrGlhehEwUUgao9y9HW9j_3xhS6mD8=m18" type="image/gif"></object>
            <object data="https://lh3.googleusercontent.com/H-3Q-0bhpBUD6Ml-vww01jNRfdXwdAeBGlXzkKKllFooVDHWXvU_xmJUbGRj0YXxmcF8T9tZQtN1jWitHmzIt8xYW019aFG49qadWFbxfHD_3GA3pjXmD9DYTv--png0ajiD60aVlKk=m18" type="image/gif"></object>
          </div>
        </div>
      </div>
    </div>               
  </div>  
</section>
    
</body>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>