<section id="gallery" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gallery</h2>
            </div>
        </div>
        <div class="row">
                <iframe width="420" height="240" src="https://www.youtube-nocookie.com/embed/2KmXllrBNHw?start=80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe src="https://drive.google.com/file/d/14QQSMSNCXnerVcXbPg9cMQZN4Cyw5hS7/preview" width="420" height="240" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
                <iframe src="https://drive.google.com/file/d/1VLpVX2h9FrAKQwVVd02E1tp8MRURmpm_/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/1ivDRDrZ-T3X9veExEKZM0RVKpzjLBfdE/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/0B1LmsSL44FGCbkNEREpQR0I5elU/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/1DabI6_tG6HiQ62jNBeNavE9ENIc5KKAN/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/1xaFhdeu4Sd__cA9vvn9EHtRETwxXpqSD/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/1-4cSSNh68p3YZVB97URAidcfpE0l2Meh/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/1C4EfZhXr0-ocq4Z7vP7fQWkmf4nkuEBd/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/1i7Kowg6HS5xjFtjR-qK9zuOwTqGXx15w/preview" width="420" height="240"></iframe>

                <iframe src="https://drive.google.com/file/d/10aylh7JyJS-IgYnOgAB0kimSfoEoTZPftg/preview" width="420" height="240"></iframe>


        </div>
    </div>
</section>