<style>
        
        * {
          box-sizing: border-box;
        }
        
        img {
          vertical-align: middle;
        }
        
        /* Position the image container (needed to position the left and right arrows) */
        .slidecontainer {
          width: 80%;
          position: relative;
        }
        
        /* Hide the images by default */
        .mySlides {
          background: #000;  
          display: none;
          margin: auto;
        }
        
        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
          cursor: pointer;
        }
        
        /* Next & previous buttons */
        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          top: 40%;
          width: auto;
          padding: 16px;
          margin-top: -50px;
          color: white;
          font-weight: bold;
          font-size: 30px;
          border-radius: 0 3px 3px 0;
          user-select: none;
          -webkit-user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
          background: #f2f2f2ab;
          color: rgba(255, 0, 140, 0.8);
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        
        /* Container for image text */
        .caption-container {
          text-align: center;
          background-color: #222;
          padding: 2px 16px;
          color: white;
        }
        
        .sliderow:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Six columns side by side */
        .slidecolumn {
          float: left;
          width: 10%;
          height: 10%;
        }
        
        /* Add a transparency effect for thumnbail images */
        .demo {
          opacity: 0.6;
        }
        
        .active,
        .demo:hover {
          opacity: 1;
        }
</style>

<section id="gallery" class="bg-light-gray">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Gallery</h2>
      <h3 class="section-subheading text-muted">A collection of videos and images from my various efforts.</h3>
        <div class="container">
    </div>
        </div>               
        <div class="row sliderow">
          <div class="slidecontainer">
            <div class="mySlides">
              <div class="numbertext">1 / 11</div>
              <iframe src="https://www.youtube-nocookie.com/embed/2KmXllrBNHw?start=80" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
          
            <div class="mySlides">
              <div class="numbertext">2 / 11</div>
              <img class="img" src="img/portfolio/isu.png" style="width: auto; height: 400px;"></img>
            </div>
          
            <div class="mySlides">
              <div class="numbertext">3 / 11</div>
              <img class="img" src="img/personal/ggun2.PNG" style="width: auto; height: 400px;"></img>
            </div>
              
            <div class="mySlides">
              <div class="numbertext">4 / 11</div>
              <iframe src="https://drive.google.com/file/d/1i7Kowg6HS5xjFtjR-qK9zuOwTqGXx15w/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
          
            <div class="mySlides">
              <div class="numbertext">5 / 11</div>
              <iframe src="https://drive.google.com/file/d/1-4cSSNh68p3YZVB97URAidcfpE0l2Meh/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
              
            <div class="mySlides">
              <div class="numbertext">6 / 11</div>
              <iframe src="https://drive.google.com/file/d/1xaFhdeu4Sd__cA9vvn9EHtRETwxXpqSD/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>

            <div class="mySlides">
              <div class="numbertext">7 / 11</div>
              <iframe src="https://drive.google.com/file/d/14QQSMSNCXnerVcXbPg9cMQZN4Cyw5hS7/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
          
            <div class="mySlides">
              <div class="numbertext">8 / 11</div>
              <iframe src="https://drive.google.com/file/d/1VLpVX2h9FrAKQwVVd02E1tp8MRURmpm_/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
              
            <div class="mySlides">
              <div class="numbertext">9 / 11</div>
              <iframe src="https://drive.google.com/file/d/1ivDRDrZ-T3X9veExEKZM0RVKpzjLBfdE/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
          
            <div class="mySlides">
              <div class="numbertext">10 / 11</div>
              <iframe src="https://drive.google.com/file/d/0B1LmsSL44FGCbkNEREpQR0I5elU/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
              
            <div class="mySlides">
              <div class="numbertext">11 / 11</div>
              <iframe src="https://drive.google.com/file/d/1DabI6_tG6HiQ62jNBeNavE9ENIc5KKAN/preview" style="width: 100%; height: 400px;" allowfullscreen></iframe>
            </div>
              
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          
            <!--
            <div class="caption-container">
              <p id="caption"></p>
            </div>
            <div class="sliderow">
              <div class="slidecolumn">
                <img class="demo cursor" src="img/portfolio/mythbusters-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(1)" alt="MythBusters">
              </div>
              <div class="slidecolumn">
                <img class="demo cursor" src="img/portfolio/isu-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(2)" alt="MR Diesel Generator">
              </div>
              <div class="slidecolumn">
                <img class="demo cursor" src="img/portfolio/zpmech-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(3)" alt="Gravity Gun Oculus Quest">
              </div>
              <div class="slidecolumn">
                <img class="demo cursor" src="img/odu/depth-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(4)" alt="Depth of Field HMD Model">
              </div>
              <div class="slidecolumn">
                <img class="demo cursor" src="img/odu/chopper-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(5)" alt="Unity Helicopter Game">
              </div>    
              <div class="slidecolumn">
                <img class="demo cursor" src="img/odu/traffic-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(6)" alt="OpenGL Traffic Sim">
              </div>
              <div class="slidecolumn">
                  <img class="demo cursor" src="img/portfolio/mythbusters-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(7)" alt="Buster Explosion">
              </div>
              <div class="slidecolumn">
                  <img class="demo cursor" src="img/odu/shoot-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(8)" alt="OpenGL Shooting Gallery">
              </div>
              <div class="slidecolumn">
                  <img class="demo cursor" src="img/odu/orbits-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(9)" alt="OpenGL Quaternion Orbits">
              </div>
              <div class="slidecolumn">
                  <img class="demo cursor" src="img/portfolio/mrtd-thumbnail.png" style="width:auto; height:2%;" onclick="currentSlide(10)" alt="MR Trainer PoC">
              </div>
              <div class="slidecolumn">
                  <img class="demo cursor" src="img/odu/tank-thumb.png" style="width:auto; height:2%;" onclick="currentSlide(11)" alt="Unity Tank Game">
              </div>                       
            </div>
          -->
          </div>
        
</section>
    
</body>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>