<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
            </div>
        </div>
        <div class="row">
            08-27-2019 - This site is launching soon!
        </div>
        <div class="row">
            07-17-2019 - Started work on a Quest App!
        </div>
        <div class="row">
            06-27-2019 - VR 2.0 is here, hello Valve Index!
        </div>
        <div class="row">
            05-21-2019 - Got my Oculus Quest!
        </div>
        <div class="row">
            05-10-2019 - Spring semester is done! Whew, 2 grad classes and working full time is no bueno.
        </div>
        <div class="row">
            05-07-2019 - Left High Fidelity.
        </div>
    </div>
</section>