<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2><br>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <b>08-27-2019</b> - Last semester of grad school starts today!<br><br><br>
            </div>
            <div class="row">
                <b>08-27-2019</b> - This site is launching soon!<br><br><br>
            </div>
            <div class="row">
                <b>07-17-2019</b> - Started work on a Quest App!<br><br><br>
            </div>
            <div class="row">
                <b>06-27-2019</b> - VR 2.0 is here, hello Valve Index!<br><br><br>
            </div>
            <div class="row">
                <b>05-21-2019</b> - Got my Oculus Quest!<br><br><br>
            </div>
            <div class="row">
                <b>05-10-2019</b> - Spring semester is done! Whew, 2 grad classes and working full time is no bueno.<br><br><br>
            </div>
            <div class="row">
                <b>05-07-2019</b> - <a href="https://variety.com/2019/digital/news/high-fidelity-layoffs-1203208860/">Left High Fidelity.</a> Sad day. :'-(<br><br><br>
            </div>
        </div>
    </div>
</section>