<section id="resume" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resume</h2>
            </div>
        </div>
        <div class="row">
            <iframe src="https://drive.google.com/file/d/1NTW3itLaKVIAwie1mTdOji1ByPOZT1a4/preview" width="95%" height="500px"></iframe>
        </div>
        <script>document.getElementById("resume").style.margin = "5%";</script>
    </div>
</section>