<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/selfies/bio.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                    <div class="team-member">
                        <p class="text-muted">I am an XR developer and enthusiast! I live and breathe immersive technology and all that it enables.

                            I started my professional career as a mechanical engineer out of Florida State University and worked with the Naval Nuclear Laboratory first as prototype engineer supporting power plant operations and maintenance.  In 2013 I was invited to join the training simulators group, and more directly support the training mission at my site.  From that group I first came into contact with virtual reality (as an adult) and was the catalyst that set me off on an entirely different and exciting career path.
                            
                            Since then, I have nearly completed my graduate degree in Computational Simulation Engineering at Old Dominion University (graduating Fall 2019!), laid the foundations for VR training for nuclear reactor operations by creating 2 proof of concept demonstrations merging physical tactile equipment and VR environments (like [the Void](https://www.thevoid.com)) and 1 deployed trainer between 2016 and 2018.
                            
                            Most recently I was part of High Fidelity, the Open Source Social VR platform founded by the creator of Second Life, Philip Rosedale.  There I was on the experiences team and created content for large events, blue-prints for users to rework, and more.
                            
                            **Words to live by:**
                            
                            *"Every job done is a self-portrait of the person who did it; autograph your work with excellence."*
                            
                            *"Everything matters to those to whom it matters."*
                            
                            *"Strive for the highest."*
                            </p>                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>