<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bio</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/selfies/bio.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                    <div class="team-member">
                        <p class="text-muted" align="left"><br>
                            I live and breathe immersive technology and all that it enables.<br>
                            I started my professional career as a mechanical engineer but when I first tried 
                            the Oculus Rift DK2 in 2014 I knew then what I had to do. Since then, I have developed the software engineering
                            skills needed to create immersive and interactive experiences, a thorough understanding of the VR/AR (XR) 
                            industry inside and out, and strive to positively impact the world through VR for good.
                            
                            <br><br><b>Words I live by:</b>
                            
                            <br><br><i>"Every job done is a self-portrait of the person who did it; autograph your work with excellence."</i>
                            
                            <br><br><i>"Everything matters to those to whom it matters."</i>
                            
                            <br><br><i>"Strive for the highest."</i>
                            </p>                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>